@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Articulat CF';
  src: url('/fonts/ArticulatCF/ArticulatCF-Medium.woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Articulat CF';
  src: url('/fonts/ArticulatCF/ArticulatCF-Bold.woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Articulat CF';
  src: url('/fonts/ArticulatCF/ArticulatCF-ExtraBold.woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/HKGrotesk/HKGrotesk-Regular.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/HKGrotesk/HKGrotesk-Bold.woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/HKGrotesk/HKGrotesk-ExtraBold.woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Patrick Hand';
  src: url('/fonts/PatrickHand-Regular.woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

:root {
  font-size: medium;
  font-family: 'HK Grotesk';
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100;
}

.dark {

  --background: #020617;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: #38bdf8;
  --accent-foreground: #f1f5f9;
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer utilities {

    .bg-dark {
      background-color: #0a1e2b;
    }
    .dot {
      transform: translateX(100%);
    }
    .bg-darknight {
      background-color: #07151f;
    }

    .filter-grayscale {
      filter: grayscale(100%);
    }

    .bg-opacity {
      background-color: rgba(0, 0, 0, 0.3);
    }
    
}
/* Memberikan jarak agar heading tidak tertutup sticky header saat diklik dari TOC */
h2, h3 {
  scroll-margin-top: 100px; /* Sesuaikan dengan tinggi header kamu */
}

html {
  /* Membuat scroll menjadi halus saat klik link TOC */
  scroll-behavior: smooth;
    scroll-padding-top: 100px; 
}
/* Memberikan 'napas' saat scroll ke ID spesifik */
h2, h3 {
  scroll-margin-top: 120px;
}

/* Sembunyikan scrollbar tapi tetap bisa di-scroll (untuk sidebar) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@layer base {
h1 {
    @apply text-sky-600 text-4xl md:text-5xl lg:text-5xl font-extrabold tracking-tight dark:bg-gradient-to-r dark:from-sky-400 dark:to-blue-600 dark:bg-clip-text dark:text-transparent dark:inline-block;
  }

  /* H3 & H4 tetap Solid Blue (Judul Kecil) */
  h2 {
    @apply dark:bg-gradient-to-r dark:from-gray-200 dark:to-blue-300 dark:bg-clip-text dark:text-transparent dark:inline-block;
  }
  h3 {
    @apply text-lg font-semibold md:text-xl lg:text-xl  }
}

.fixed-content {padding-top: 6em;}

    @keyframes gridFlow {
      0% { mask-position: -50% -50%; }
      100% { mask-position: 150% 150%; }
    }


                 @keyframes scan-dots {
      0% { mask-position: 0 -200px; }
      100% { mask-position: 0 120%; }

    }
    @keyframes scanline {
      from { transform: translateY(-100%); }
      to { transform: translateY(1000%); }
    }
    .animate-scanline {
      animation: scanline 8s linear infinite;
    }